* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}


/*variables*/

:root {
    --primaryColor: rgb(109, 40, 217);
    --secondaryColor: #ede9fe;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGray: #7c7c7c;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
    --mainRed: #db2777;
    --bodyColor: #f6f6f6;
}

button,
input,
select {
    border: none;
    background-color: transparent;
}

body {
    width: 100vw;
    height: 70vh;
    font-size: 62.5%;
    font-family: "Bebas Neue", sans-serif;
    color: var(--mainBlack);
    background-color: var(--bodyColor);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.todo-completed {
    opacity: 0.5;
}

.todo-completed h3 {
    text-decoration: line-through;
}

#todo-input:focus {
    outline: none;
}

.form-container {
    display: flex;
}

form {
    width: 70%;
    padding: 3px;
    display: flex;
    background-color: var(--mainWhite);
}

form button {
    color: var(--primaryColor);
}

.todo-item {
    width: 64%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(109, 40, 217, 0.2);
    color: var(--primaryColor);
}

.icon-container span:nth-child(odd) i {
    color: var(--primaryColor);
}

.icon-container span:nth-child(even) i {
    color: var(--mainRed);
}

select {
    width: 100%;
    border-radius: 3px;
    color: var(--primaryColor);
    padding: 0.3rem;
    border: none;
    outline: none;
}

.select {
    width: 8rem;
    height: 1.7rem;
    margin-left: 5px;
    background-color: var(--mainWhite);
    cursor: pointer;
}